<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta

      name="viewport"

      content="width=device-width, initial-scale=1, shrink-to-fit=no"

    />

    <meta name="description" content="" />

    <title></title>

 

    <link

      rel="stylesheet"

      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"

      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"

      crossorigin="anonymous"

    />

 

    <link href="css/product.css" rel="stylesheet" />

    <link href="css/main.css" rel="stylesheet" />

  </head>

  <body>

    <div class="jumbotron">

      <div class="container">

        <img

          class="bd-placeholder-img rounded-circle"

          width="150"

          height="150"

          src="images/avatar.jpg"

          alt="my avatar"

        />

        <h1 class="display-4">Nelson Henrique Almeida Proença</h1>

        <p>

          This is a template for a simple marketing or informational website. It

          includes a large callout called a jumbotron and three supporting

          pieces of content. Use it as a starting point to create something more

          unique.

        </p>

      </div>

    </div>

 

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

      <div

        class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"

      >

        <div class="my-3 py-3">

          <h2 class="display-5">Dados Pessoais</h2>

          <p class="lead">

            Informações pessoais como endereço, telefones, etc.

          </p>

        </div>

        <div class="bg-light shadow-sm mx-auto box-interno py-4 px-4">

          <table class="table table-hover text-left">

            <tbody>

              <tr>

                <th>E-mail:</th>

                <td colspan="5">Thornton</td>

              </tr>

              <tr>

                <th>Endereço:</th>

                <td colspan="5">Thornton</td>

              </tr>

              <tr>

                <th>Telemovel:</th>

                <td colspan="5">999 999 999</td>

              </tr>

              <tr>

                <th>Estado civil:</th>

                <td colspan="5">@twitter</td>

              </tr>

              <tr>

                <th>Residência:</th>

                <td>Ok</td>

                <th>Nif:</th>

                <td>Ok</td>

                <th>Niss:</th>

                <td>Ok</td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

      <div

        class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"

      >

        <div class="my-3 p-3">

          <h2 class="display-5">Portfólio</h2>

          <p class="lead">Alguns projetos publicados.</p>

        </div>

        <div class="bg-dark shadow-sm mx-auto box-interno"></div>

      </div>

    </div>

 

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

      <div

        class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"

      >

        <div class="my-3 py-3">

          <h2 class="display-5">Redes Sociais</h2>

          <p class="lead">Onde me encontrar nas redes sociais.</p>

        </div>

        <div class="bg-light shadow-sm mx-auto box-interno py-3 px-4">

          <table class="table table-hover">

            <caption class="text-right">

              <a class="btn btn-link" href="#" role="button">Ver mais ...</a>

            </caption>

            <thead>

              <tr>

                <th scope="col">Media</th>

                <th scope="col"></th>

              </tr>

            </thead>

            <tbody>

              <tr>

                <td>Facebook</td>

                <th scope="row">

                  <a class="btn btn-link" href="#" role="button">Ir</a>

                </th>

              </tr>

              <tr>

                <td>LinkedIn</td>

                <th scope="row">

                  <a class="btn btn-link" href="#" role="button">Ir</a>

                </th>

              </tr>

              <tr>

                <td>Github</td>

                <th scope="row">

                  <a class="btn btn-link" href="#" role="button">Ir</a>

                </th>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

      <div

        class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"

      >

        <div class="my-3 p-3">

          <h2 class="display-5">Experiências</h2>

          <p class="lead">Todas as minhas experiencias profissionais.</p>

        </div>

        <div class="bg-dark shadow-sm mx-auto box-interno py-3 px-4">

          <table class="table table-hover table-dark table-sm">

            <caption class="text-right">

              <a class="btn btn-link" href="#" role="button">Ver mais ...</a>

            </caption>

            <thead>

              <tr>

                <th scope="col">Tempo</th>

                <th scope="col">Empresa</th>

                <th scope="col">Cargo</th>

                <th scope="col"></th>

              </tr>

            </thead>

            <tbody>

              <tr>

                <th scope="row">01/1999 - 01/2011</th>

                <td>Mark</td>

                <td>Otto</td>

                <td>

                  <a class="btn btn-link" href="#" role="button">Mostrar</a>

                </td>

              </tr>

              <tr>

                <th scope="row">01/1999 - 01/2011</th>

                <td>Jacob</td>

                <td>Thornton</td>

                <td>

                  <a class="btn btn-link" href="#" role="button">Mostrar</a>

                </td>

              </tr>

              <tr>

                <th scope="row">01/1999 - 01/2011</th>

                <td>Jacob</td>

                <td>Thornton</td>

                <td>

                  <a class="btn btn-link" href="#" role="button">Mostrar</a>

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

      <div

        class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"

      >

        <div class="my-3 py-3">

          <h2 class="display-5">Idiomas</h2>

          <p class="lead">Idiomas para comunicação.</p>

        </div>

        <div class="bg-light shadow-sm mx-auto box-interno py-4 px-4">

          <table class="table table-borderless">

            <thead>

              <tr>

                <th scope="col">#</th>

                <th scope="col">Idioma</th>

                <th scope="col">Nivel</th>

              </tr>

            </thead>

            <tbody>

              <tr>

                <th scope="row">1</th>

                <td>Mark</td>

                <td>Otto</td>

              </tr>

              <tr>

                <th scope="row">2</th>

                <td>Jacob</td>

                <td>Thornton</td>

              </tr>

              <tr>

                <th scope="row">3</th>

                <td>Jacob</td>

                <td>Thornton</td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

      <div

        class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"

      >

        <div class="my-3 p-3">

          <h2 class="display-5">Formações Academicas</h2>

          <p class="lead">Informações sobre níveis de ensino.</p>

        </div>

        <div class="bg-dark shadow-sm mx-auto box-interno py-4 px-4 overflow">

          <table class="table table-borderless table-dark table-sm">

            <tbody>

              <tr>

                <td class="py-2 px-2" style="overflow: visible;">

                  <table

                    class="table table-dark table-sm text-left"

                    style="background-color: darkgray; border-radius: 10px;"

                  >

                    <tbody>

                      <tr>

                        <th class="px-4" style="font-size: 1.45rem;">

                          Fit - Faculdade Impacta de Tecnologia

                        </th>

                      </tr>

                      <tr>

                        <td

                          class="px-4"

                          style="font-size: 0.85rem; font-weight: bold;"

                        >

                          Curso TI 0123456

                        </td>

                      </tr>

                      <tr>

                        <td class="px-4">01/2010</td>

                      </tr>

                      <tr>

                        <td class="px-4 pb-2">Bacharel</td>

                      </tr>

                    </tbody>

                  </table>

                  <table

                    class="table table-dark table-sm text-left"

                    style="background-color: darkgray; border-radius: 15px;"

                  >

                    <tbody>

                      <tr>

                        <th style="font-size: 1.45rem;">

                          Fit - Faculdade Impacta de Tecnologia

                        </th>

                      </tr>

                      <tr>

                        <td style="font-size: 0.85rem; font-weight: bold;">

                          Curso TI 0123456

                        </td>

                      </tr>

                      <tr>

                        <td>01/2010</td>

                      </tr>

                      <tr>

                        <td>Bacharel</td>

                      </tr>

                    </tbody>

                  </table>

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

 

    <footer class="container py-5">

      <div class="row">

        <div class="col-12 col-md">

          <small class="d-block mb-3 text-muted"

            >&copy; 2019-2020 - My personal page - Created by Nelson

            Proença</small

          >

        </div>

      </div>

    </footer>

 

    <script

      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"

      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"

      crossorigin="anonymous"

    ></script>

    <script

      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"

      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"

      crossorigin="anonymous"

    ></script>

    <script

      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"

      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"

      crossorigin="anonymous"

    ></script>

  </body>

</html>